<h1> Bookshel<span class="v">V</span></h1>

<form action="/new" method="get">
  <input class="addbutton"   type="submit" value="Add to shelV">
</form>

<div class="imgcontainer">

  {{#each books as |book| }}
    
   <p><a class ="box" href={{book._id}}><img class="images" src={{book.url}} alt="book imgs"></a></p> 
   {{!-- <div class="eachtitle">
   <p><a  href={{book._id}}>{{book.author}}</a></p>
   </div> --}}
{{/each}}
</div>


