<h1> Book ShelV</h1>

<ul>

  {{#each books as |book| }}
  <li>
    <a href={{book._id}}><img src={{book.url}} alt="book imgs"></a>
   <a href={{book._id}}>{{book.title}}</a>
  </li>
</ul>
{{/each}}
<form action="/new" method="get">
  <input  type="submit" value="Add to shelV">
</form>

