<h1> Bookshel<span class="v">V</span></h1>

<p>
  <form action="/books" method="get" id="search" class="search-form">
    <input id="search" class= "search-input" type="text"  placeholder="Search by Book Title">
    <button type="submit" value="search" class="searchbutton">Search</button>
  </form>

</p>


<form action="/books/new" method="get">
  <input class="addbutton"   type="submit" value="Add to shelV">
  
</form>

<div class="imgcontainer">

  {{#each books as |book| }}
    
   <p><a class ="box" href='/books/{{book._id}}'><img class="images" src={{book.url}} alt="book imgs"></a></p> 
{{/each}}
</div>



{{!-- create a script that grabs "search" , when submit is clicked , it redirects to the view/show page--}}


