<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/assets/css/styles.css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BookshelV</title>
</head>
<body>
  <main>
  <nav>
    <ul class="nav-bars">
      {{#if currentUser}}
      <li><a href="/user/logout">Logout {{currentUser.local.email}}</a></li>
      {{else}}
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
  
      {{/if}}
    </ul>
  </nav>
  {{{body}}}
</main>

<footer>
<p>© M E K</p>
</footer>
</body>
</html>