
<h1><a href="/">Bookshel<span class="v">V</span></a></h1>

<h2>New Book</h2>

<form action="/" method="post">
<p>

<label> Title: </label>
<input type="text" name="title"/>

<label> Author: </label>
<input type="text" name="author"/>

<label> Genera: </label>
<input type="text" name="genera"/>

<label> Published: </label>
<input type="number" name="published"/>

<label> Reflection: </label>
<input type="text" name="reflection"/>

<label> Url: </label>
<input id= "image" type="text" name="url"/>

</p>
<input type="submit" value="Add Book">
</form>


<form action="/" method="get">
<input type="submit" value="Go Back">
</form>
