
<h1><a href="/">Book ShelV</a></h1>
<h2>New Book</h2>

<form action="/" method="post">
<p>

<label> Title: </label>
<input type="text" name="title"/>

<label> Author: </label>
<input type="text" name="author"/>

<label> Genera: </label>
<input type="text" name="genera"/>

<label> Published: </label>
<input type="number" name="published"/>

<label> Url: </label>
<input type="image" name:"url"/>

</p>
</form>