{{!-- 
<h1><a class= "showheading" href="/">Bookshel<span class="v">V</span></a></h1>

<div class="newcontainer">
<h2>New Read Book: </h2>

<form action="/" method="post" class= "addnew-forum">
<p>

<label> Title: </label>
<input class= "new" type="text" name="title"/>

<label class= "newlable"> Author: </label>
<input class= "new" type="text" name="author"/>

<label> Genera: </label>
<input class= "new" type="text" name="genera"/>

<label> Published: </label>
<input class= "new" type="number" name="published"/>

<label> Reflection: </label>
<input class= "new reflection" type="text" name="reflection"/>

<label> Url: </label>
<input class="new" id= "image" type="text" name="url"/>

<input type="submit" value="Add Book" class="addbook">

<form action="/" method="get">
<input type="submit" value="Go Back" >
</form>

</p>
</div>

</form> --}}


