<h1><a class= "showheading" href="/books">Bookshel<span class="v">V</span></a></h1>

<div class="imgcontainer">

  {{#each books as |book| }}
    
   <p><img class="images" src={{book.url}} alt="book imgs"></a></p> 
{{/each}}
</div>