body {

  background-color: #f8f8f7;
  color: #212121;
  font-family: 'Karla', sans-serif;
  height: 100%;
  width: 100%;
 

}

.addbutton{
 margin-left: 92em;
 margin-top: -10em;
 margin-bottom: 1em;
 border-radius: 100px;
 padding: 10px;
 font-size: 14px;
}
    
   .v {
     font-size:150px;
     color: rgb(193, 129, 11);
   } 


h1 {
 font-size: 100px;
 text-decoration: none;
 text-align: center;
 margin-top: -.5em;
 
 -webkit-text-fill-color: white; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;


}

.showheading{
  font-size: 80px;
  padding: 0px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;

 text-decoration: none;
 
}

.vshow{

  font-size: 90px;
}


.images{
  height: 350px;
  width: 250px;
  text-decoration: none;


 
}

.imgcontainer{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px -5px -20px 0px;
  margin-bottom: 4em;

  

}



.showbookcover {
  height: 450px;
  width: 350px;
 
  float: left;
  margin: 35px;
  margin-bottom: 30px;

  }



.box{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  text-decoration: none;  
}

.edit{
  display: block;
  align-items: center;
  padding: 10px 15px;
}

input.edit {
  width: 95%;
  height: 100px;
}
.showedit{
  display:inline;
}

.showremove{
  display: inline;
}

  .editcontainer{

    margin-left: 33em;
    margin-top: -3em;
    margin-bottom: 4em;

  }

  .edittitle {
    text-align: left;
  }

  .new {
    display: block;
    padding: 10px 60px;
    text-align: left;
    
  }
  .newcontainer{
    margin-left: 33em;
  
  }

  .titleheading {
    font-size: 30px;

  }
  .propertiesfont{
    font-size: 20px;
    font-weight: inherit;
  }
  
  .nav-bars {
    text-align: right;
    margin: 2em;
    margin-right: 2em;
    display: block;
    list-style:none;
    
    
  }

  .nav-bars li a {
    text-decoration: none;
    color: black;
    display: inline;
   
  }

 